{% assign latest_products = collections.all.products | sort: 'created_at' | reverse | uniq | slice: 0, 3 %}
{% assign content = section.settings %}

<div class="container mx-auto p-10 lg:p-20">
  <div>
    <h3 class="w-full text-4xl font-bold mb-0 text-center pb-10 md:pb-20">{{ content.section_title }}</h3>
    {% comment %} Mobile slider  {% endcomment %}
    <div class="block md:hidden">
      <div class="global-slider">
        {% for product in latest_products %}
          {% render 'product-card', product: product %}
        {% endfor %}
      </div>
    </div>
    {% comment %} End Mobile slider  {% endcomment %}
    {% comment %} Desktop  {% endcomment %}
    <div class="hidden md:block">
      <div class="lg:flex lg:justify-center lg:items-center lg:gap-4 mb-20">
        {% for product in latest_products %}
          {% render 'product-card', product: product %}
        {% endfor %}
      </div>
    </div>
    {% comment %} Desktop  {% endcomment %}
    <div class="text-center block mt-10 md:mt-20">
      <a href="{{ routes.all_products_collection_url }}" class="text-center px-7 py-3 bg-anarvin uppercase text-white font-bold text-sm leading-snug hover:bg-black focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
        {{ content.button_text }}
      </a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Featured Products",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "Latest Products"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "View All"
      }
    ],
    "presets": [
      {
        "name": "Featured Products"
      }
    ]
  }
{% endschema %}
